
@{
    ViewData["Title"] = "ขอบคุณที่ติดต่อเรา";
}

<h1>ขอบคุณที่ติดต่อเรา</h1>
<div>ทางเราขอขอบคุณคุณ @ViewData["Name"] เมื่อเจ้าหน้าที่รับเรื่องแล้วทางเราจะติดต่อกลับไปที่
     @ViewData["Email"] โดยด่วน</div>
